extends layout

block content
  h1= title
  - let rings = results;
  div(class="container-fluid")
    div(class="row")
      each item in rings
        - let destination = `dispatch(\"/ring/update?id=${item._id}\")`
          div(class="col-sm-2",onClick=`buy(${index})`)
            div(class="row-sm-2", class="m-1") Item #{item.ring_Material}(#{item.ring_Weight}) is #{item.ring_Cost}
            button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
    //- function buy((itemNo)) {
    //-   alert(`You purchased Item ${itemNo+1}`)
    //- }

    function dispatch(path){
      window.location.href=path
    }
